[% BLOCK recording_row_checkbox %]
  [% IF c.user_exists && !no_checkboxes %]
  <td>
    <input type="checkbox" name="add-to-merge" value="[% recording.id %]" />
  </td>
  [% END %]
[% END %]

[% select_all = 1 UNLESS select_all.defined %]

<table class="tbl">
    <thead>
        <tr>
            [% IF c.user_exists && !no_checkboxes %]
            <th style="width: 1em">
              [% IF select_all %]
                <input type="checkbox" />
              [% END %]
            </th>
            [% END %]
            [% IF series_item_numbers %]
              <th style="width: 1em">[% l('#') %]</th>
            [% END %]
            [%- IF show_video -%]
                <th class="video c"></th>
            [%- END -%]
            <th>[%- l('Name') -%]</th>
            [%- IF show_artists -%]
                <th>[%- l('Artist') -%]</th>
            [%- END -%]
            <th>[% l('ISRCs') %]</th>
            [% UNLESS no_ratings %]<th class="rating c">[% l('Rating') %]</th>[% END %]
            <th>[%- l('Length') -%]</th>
        </tr>
    </thead>
    <tbody>
        [%- FOR recording=recordings -%]
          [% IF recording.gid %]
          <tr [% ' class="ev"' IF loop.count % 2 == 0 %]>
              [% PROCESS recording_row_checkbox %]
              [% IF series_item_numbers %]
                <td style="width: 1em">
                  [% recording_id=recording.id; series_item_numbers.$recording_id %]
                </td>
              [% END %]
              [%- IF show_video -%]
                  <td class="video c[%- IF recording.video %] is-video[%- END -%]"[% IF recording.video %] title="[% l("This recording is a video") %]"[% END %]></td>
              [%- END -%]
              <td>
                [% link_recording(recording) %]
                [% disambiguation(recording) %]
              </td>
              [%- IF show_artists -%]
                  <td>[% artist_credit(recording.artist_credit) %]</td>
              [%- END -%]
              <td>
                  [% FOR isrc=recording.isrcs %]
                      [% '<br />' IF loop.index > 0 %]
                      [% link_isrc(isrc) %]
                  [% END %]
              </td>
              [% UNLESS no_ratings%]<td>[% rating_stars(recording) %]</td>[% END %]
              <td[% ' class="' _ length_class _ '"' IF length_class %]>[% format_length(recording.length) %]</td>
          </tr>
          [% ELSE %]
          <tr [% ' class="ev"' IF loop.count % 2 == 0 %]>
              [% PROCESS recording_row_checkbox %]
              [%- IF show_video -%]
                  <td class="video c[%- IF recording.video %] is-video[%- END -%]"[% IF recording.video %] title="[% l("This recording is a video") %]"[% END %]></td>
              [%- END -%]
              <td>
                [% link_deleted(recording) %]
              </td>
              [%- IF show_artists -%]
                  <td></td>
              [%- END -%]
              <td></td>
              [% UNLESS no_ratings%]<td></td>[% END %]
              <td></td>
          </tr>
          [% END %]
        [%- END -%]
    </tbody>
</table>
