/* ==========================================================================
   Entity
   ========================================================================== */

.entity-header {
  padding-left: 38px;
  margin-bottom: 10px;
  background: 0 4px no-repeat;

  h1 { margin: 0; }
  p { margin: 0; }
}

/* TODO: create collection, area, url, series icons */
.blank-header         { background-image: data-uri('../images/entity/blank_lg.png') }
.artist-header        { background-image: data-uri('../images/entity/artist_lg.png') }
.release-header       { background-image: data-uri('../images/entity/release_lg.png') }
.release-group-header { background-image: data-uri('../images/entity/release_group_lg.png') }
.recording-header     { background-image: data-uri('../images/entity/recording_lg.png') }
.place-header         { background-image: data-uri('../images/entity/place_lg.png') }
.label-header         { background-image: data-uri('../images/entity/label_lg.png') }
.work-header          { background-image: data-uri('../images/entity/work_lg.png') }
.collection-header, .area-header, .url-header, .series-header, .instrument-header { background-image: data-uri('../images/entity/blank_lg.png') }

// Headers with no icon
.statistics-header { padding-left: 0; }

span.comment, span.historical {
    font-weight: normal;
    color: @dark-text;
}

h1 span.comment, span.historical {
    font-size: 12px;
}

p.subheader {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0.0em;
    font-size: 96%;
}

p.subheader span { color: @dark-text; }

.tagger-icon img { border: 0; }
.releaseheader .tagger-icon, .recordingheader .tagger-icon { margin-top: 1em; float: right; }

.annotation {
    margin-top: 1em;
}

.annotation-diff {
    margin: 1em 0;
}
