.no-favicon {                       background-image: data-uri("../images/favicons/external-16.png"); }
.home-favicon {                     background-image: data-uri("../images/favicons/home-16.png"); }
.allmusic-favicon {                 background-image: data-uri("../images/favicons/allmusic-16.png"); }
.amazon-favicon {                   background-image: data-uri("../images/favicons/amazon-16.png"); }
.animenewsnetwork-favicon {         background-image: data-uri("../images/favicons/animenewsnetwork-16.png"); }
.wikipedia-favicon {                background-image: data-uri("../images/favicons/wikipedia-16.png"); }
.facebook-favicon {                 background-image: data-uri("../images/favicons/facebook-16.png"); }
.generasia-favicon {                background-image: data-uri("../images/favicons/generasia-16.png"); }
.lastfm-favicon {                   background-image: data-uri("../images/favicons/lastfm-16.png"); }
.myspace-favicon {                  background-image: data-uri("../images/favicons/myspace-16.png"); }
.twitter-favicon {                  background-image: data-uri("../images/favicons/twitter-16.png"); }
.youtube-favicon {                  background-image: data-uri("../images/favicons/youtube-16.png"); }
.discogs-favicon {                  background-image: data-uri("../images/favicons/discogs-16.png"); }
.rockensdanmarkskort-favicon {      background-image: data-uri("../images/favicons/rockensdanmarkskort-16.png"); }
.rockipedia-favicon {               background-image: data-uri("../images/favicons/rockipedia-16.png"); }
.secondhandsongs-favicon {          background-image: data-uri("../images/favicons/secondhandsongs-16.png"); }
.songfacts-favicon {                background-image: data-uri("../images/favicons/songfacts-16.png"); }
.soundcloud-favicon {               background-image: data-uri("../images/favicons/soundcloud-16.png"); }
.ibdb-favicon {                     background-image: data-uri("../images/favicons/ibdb-16.png"); }
.imslp-favicon {                    background-image: data-uri("../images/favicons/imslp-16.png"); }
.ESTERTallinn-favicon {             background-image: data-uri("../images/favicons/ESTERTallinn-16.png"); }
.ESTERTartu-favicon {               background-image: data-uri("../images/favicons/ESTERTartu-16.png"); }
.worldcat-favicon {                 background-image: data-uri("../images/favicons/worldcat-16.png"); }
.fortyfivecat-favicon {             background-image: data-uri("../images/favicons/45cat-16.png"); }
.rateyourmusic-favicon {            background-image: data-uri("../images/favicons/rateyourmusic-16.png"); }
.rolldabeats-favicon {              background-image: data-uri("../images/favicons/rolldabeats-16.png"); }
.psydb-favicon {                    background-image: data-uri("../images/favicons/psydb-16.png"); }
.metalarchives-favicon {            background-image: data-uri("../images/favicons/metalarchives-16.png"); }
.spiritofmetal-favicon {            background-image: data-uri("../images/favicons/spiritofmetal-16.png"); }
.theatricalia-favicon {             background-image: data-uri("../images/favicons/theatricalia-16.png"); }
.ocremix-favicon {                  background-image: data-uri("../images/favicons/ocremix-16.png"); }
.musiksammler-favicon {             background-image: data-uri("../images/favicons/sammler-16.png"); }
.encyclopedisque-favicon {          background-image: data-uri("../images/favicons/encyclopedisque-16.png"); }
.trove-favicon {                    background-image: data-uri("../images/favicons/trove-16.png"); }
.ric-favicon {                      background-image: data-uri("../images/favicons/ric-16.png"); }
.googleplus-favicon {               background-image: data-uri("../images/favicons/googleplus-16.png"); }
.dhhu-favicon {                     background-image: data-uri("../images/favicons/dhhu-16.png"); }
.thesession-favicon {               background-image: data-uri("../images/favicons/thesession-16.png"); }
.lieder-favicon {                   background-image: data-uri("../images/favicons/lieder-16.png"); }
.openlibrary-favicon {              background-image: data-uri("../images/favicons/openlibrary-16.png"); }
.whosampled-favicon {               background-image: data-uri("../images/favicons/whosampled-16.png"); }
.viaf-favicon {                     background-image: data-uri("../images/favicons/viaf-16.png"); }
.vk-favicon {                       background-image: data-uri("../images/favicons/vk-16.png"); }
.vkdb-favicon {                     background-image: data-uri("../images/favicons/vkdb-16.png"); }
.bandcamp-favicon {                 background-image: data-uri("../images/favicons/bandcamp-16.png"); }
.iTunes-favicon {                   background-image: data-uri("../images/favicons/iTunes-16.png"); }
.spotify-favicon {                  background-image: data-uri("../images/favicons/spotify-16.png"); }
.wikidata-favicon {                 background-image: data-uri("../images/favicons/wikidata-16.png"); }
.rapgenius-favicon {                background-image: data-uri("../images/favicons/rapgenius-16.png"); }
.rockgenius-favicon {               background-image: data-uri("../images/favicons/rockgenius-16.png"); }
.imvdb-favicon {                    background-image: data-uri("../images/favicons/imvdb-16.png"); }
.residentadvisor-favicon {          background-image: data-uri("../images/favicons/residentadvisor-16.png"); }
