@import "colors.less";

/* ==========================================================================
   Bootstrap imports

   Import order is important! When updating bootstrap library, review [1] for
   any changes.

   [1] https://github.com/twbs/bootstrap/blob/master/less/bootstrap.less
   ========================================================================== */

// Core variables and mixins
@import "../lib/bootstrap/less/variables.less";
@import "../lib/bootstrap/less/mixins.less";

// Reset and dependencies
@import "../lib/bootstrap/less/normalize.less";
@import "../lib/bootstrap/less/print.less";
@import "../lib/bootstrap/less/glyphicons.less";

// Core CSS
@import "../lib/bootstrap/less/scaffolding.less";
@import "../lib/bootstrap/less/type.less";
@import "../lib/bootstrap/less/code.less";
@import "../lib/bootstrap/less/grid.less";
@import "../lib/bootstrap/less/tables.less";
@import "../lib/bootstrap/less/forms.less";
@import "../lib/bootstrap/less/buttons.less";

// Components
@import "../lib/bootstrap/less/component-animations.less";
@import "../lib/bootstrap/less/dropdowns.less";
@import "../lib/bootstrap/less/button-groups.less";
@import "../lib/bootstrap/less/input-groups.less";
@import "../lib/bootstrap/less/navs.less";
@import "../lib/bootstrap/less/navbar.less";
//@import "../lib/bootstrap/less/breadcrumbs.less";
@import "../lib/bootstrap/less/pagination.less";
//@import "../lib/bootstrap/less/pager.less";
@import "../lib/bootstrap/less/labels.less";
@import "../lib/bootstrap/less/badges.less";
//@import "../lib/bootstrap/less/jumbotron.less";
//@import "../lib/bootstrap/less/thumbnails.less";
@import "../lib/bootstrap/less/alerts.less";
//@import "../lib/bootstrap/less/progress-bars.less";
//@import "../lib/bootstrap/less/media.less";
@import "../lib/bootstrap/less/list-group.less";
@import "../lib/bootstrap/less/panels.less";
//@import "../lib/bootstrap/less/responsive-embed.less";
@import "../lib/bootstrap/less/wells.less";
@import "../lib/bootstrap/less/close.less";

// Components w/ JavaScript
//@import "../lib/bootstrap/less/modals.less";
//@import "../lib/bootstrap/less/tooltip.less";
//@import "../lib/bootstrap/less/popovers.less";
//@import "../lib/bootstrap/less/carousel.less";

// Utility classes
@import "../lib/bootstrap/less/utilities.less";
@import "../lib/bootstrap/less/responsive-utilities.less";

/* ==========================================================================
   Bootstrap variable overrides
   ========================================================================== */

@icon-font-path:                        "/static/lib/bootstrap/fonts/";

@brand-primary:                         @musicbrainz-orange;

@link-color:                            @link-default;
@link-hover-color:                      darken(@musicbrainz-orange, 15%); // #ff9a0c

// Decrease text and heading size
@font-size-base:                        12px;                            // default: 14px
@font-size-h1:                          floor((@font-size-base * 2.09)); // ~25px, default: * 2.6 = ~36px
@font-size-h2:                          floor((@font-size-base * 1.5));  // 18px, default: * 2.15 = ~30px
@font-size-h3:                          ceil((@font-size-base * 1.5));   // 18px, default: * 1.7 = ~24px
@font-size-h4:                          ceil((@font-size-base * 1.25));  // ~15px, default: * 1.25 = ~18px
@font-size-h5:                          @font-size-base;                 // 12px, default: 14px
@font-size-h6:                          ceil((@font-size-base * 0.8));   // 10px, default: * 0.85 = ~12px

@hr-border:                             @musicbrainz-orange;

@dropdown-link-hover-color:             #fff;
@dropdown-link-hover-bg:                darken(@musicbrainz-orange, 10%); // #ffa525

// Decrease size of tabs
@nav-link-padding:                      5px 10px;

@pagination-color:                      #000;

@table-bg-accent:                       #f2f2f2;
@table-subh-accent:                     #d8d8d8;
@table-cell-padding:                    2px 5px;
@table-condensed-cell-padding:          0 3px;



/* TODO:
** When we start using relative links for internal links, add:
** a[href^="http://"], a[href^="https://"],
a.external {
    background: data-uri('../images/icons/external.png') no-repeat right;
    padding-right: 13px;
}
*/

/* TODO:
** Figure out how to appropriately set :visited link's color
a:visited:not(.btn) {
  color: @link-visited;

  .tabs & { color: @link-default; }
  h1 &, .tabs .active & { color: inherit; }
}
*/

/*
** Header
*/
#header {
    width: 100%;
}

#header img.gravatar { display: none; }

img.gravatar {
    display: inline;
    max-height: 1em;
    vertical-align: middle;
    border: 1px solid @light-border;
    padding: 1px;
    background: #fff;
    margin-right: 0.35em;
}

h1 img.gravatar {
    max-height: 3em;
}

#header-logo {
    background: @musicbrainz-purple url('../images/layout/header-logo.png') no-repeat top left;
    height: 58px;
    color: @text-white;
}

#header-logo div {
    position: relative;
    top: 17px;
    float: right;
    padding-right: 1em;
}

#header-logo div.git-branch {
    position: absolute;
    top: 2px;
    right: 18px;
    color: @light-text;
}

#header-logo #headerid-query {
    width: 18em;
}

#header-logo #id-type {
    margin-right: 4px;
    margin-left: 10px;
    padding: 2px;
}

#header-logo a {
    color: @text-white;
}

#header-logo a.logo {
    display: block;
    height: 58px;
    width: 483px;
    position: absolute;
}

#header-logo a.logo strong {
    position: absolute;
    left: -10000px;
}

#header-menu {
    background: @musicbrainz-orange;
    position: relative;
    font-size: 95%;
    font-weight: bold;
    z-index: 9;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#header-menu div {
    padding: 0 1em;
    overflow: hidden;
}

#header-menu ul.r {
    float: right;
}

#header-menu form {
    padding: 4px 0;
    margin: 0;
    vertical-align: middle;
}

#header-menu ul {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style-type: none;
    list-style-image: none;
}

/* ==========================================================================
   Tabs
   ========================================================================== */

nav.tabs {
  margin-top: 1em;

  ul.nav-tabs {
    > li {
      // Override bootstrap
      &.active > a {
        &,
        &:hover,
        &:focus {
          font-weight: bold;
        }
      }

      // Override bootstrap when the active tab is a dropdown toggle
      &.dropdown.active {
        // Ensure there's no break in border color by using the same border as the dropdown box
        &.open { border-bottom: @dropdown-border; }

        // Active tabs show a default cursor, but if the active tab is a dropdown it needs a pointer
        a.dropdown-toggle { cursor: pointer; }
      }
    }

    a:hover {
      color: darken(@link-color, 15%);
    }
  }
}

#header-menu li {
    float: left;
    list-style-type: none;
    list-style-image: none;
}

#header-menu ul a {
    color: @effectively-black-text;
    display: block;
    padding: 0.4em 0.5em;
    height: 100%;
    text-decoration: none;
}

#header-menu ul li:hover a,
#header-menu ul li:hover li a:hover,
#header-menu ul a:hover {
    background-color: @text-orange;
    color: @text-white;
}

#header-menu ul li li a {
    height: auto;
}

#header-menu ul li:hover li a {
    background-color: @medium-bg;
    color: @text-black;
}

#header-menu li ul {
    position: absolute;
    left: -10000px;
    z-index: 9;
}

#header-menu li ul li {
    text-align: left;
    float: none;
    font-weight: normal;
    margin: 0;
    background-color: @medium-bg;
}

#header-menu .separator {
    border-top: 1px dotted;
}

/*
** Main content
*/
#page,
#current-editing {
    margin-top: 1em;
    padding: 1em 1em 1em 1em;
    padding: 16px;
    background: #FFF url('../images/layout/page-bg.gif') repeat-y top right;
    overflow: visible;
    position: relative;
    border-radius: 6px;
}

#page.fullwidth,
#page.homepage,
#current-editing {
    background-image: none;
}

#current-editing h2 {
    margin-top: 0; /* Remove the space above the merge-helper H2 */
}

.warning-header,
.flash,
.server-details {
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
    background: #FFFFFF;
    padding: 10px;
    border: 0;
    color: @text-orange;
    position: relative;
    border-radius: 6px;
}

.flash {
    color: @text-black;
    font-weight: normal;
}

.flash p,
.server-details p,
.warning-header p {
    margin: 0;
}

.warning-header {
    color: @text-black;
}

div.notice,
div.warning {
    margin: 2em auto;
    border: 1px solid @dark-border;
    min-height: 54px;
    width: 60em;
    background: @warning-background;
}

div.warning p,
div.notice p { margin: 1em; }

div.warning img.warning {
    float: left;
    margin: 12px 10px 8px 10px;
    width: 32px;
    height: 32px;
}

#content {
    margin-right: 250px;
}

#page.fullwidth #content {
    margin-right: 0px;
}

#sidebar {
    float: right;
    width: 218px;
    font-size: 95%;
}

#page.homepage .sidebar {
    float: right;
    font-size: 95%;
    width: auto;
}

#page.homepage #sidebar {
    margin-left: 2.5em;
}

#page.homepage .sidebar div:after {
    visibility: hidden;
    content: '&nbsp';
    clear: both;
}

#sidebar p {
    margin-top: 0;
}

#sidebar ul.links {
    margin: 0;
    padding-left: 1.5em;
}

#sidebar ul.links hr {
    padding: 0;
    margin: 3px;
    height: 1px;
    width: 75%;
    border: 0;
    color: @hr-color;
    background-color: @hr-color;
}

#sidebar ul.external_links {
    margin: 5px 0;
    padding-left: 0;
    list-style-image: none;
    list-style-type: none;
}

#sidebar ul.external_links li {
    background-position: 0 2px;
    background-repeat: no-repeat;
    margin-bottom: 2px;
    padding: 4px 0 0 22px;
    min-height: 14px;
}

#sidebar ul.external_links li.all-relationships {
    background-image: none;
}

#sidebar ul.licenses {
    margin: 5px 0;
    padding-left: 0;
    list-style-image: none;
    list-style-type: none;
}

#sidebar ul.licenses li{
    display: inline-block;
    margin-bottom: 2px;
}

#sidebar .cover-art, #sidebar .picture {
    text-align: center;
}

#sidebar .cover-art img, #sidebar .picture img {
    max-height: 300px;
    max-width: 218px; /* references #sidebar's width */
}

#sidebar .cover-art-note, #sidebar .picture-note {
    color: @very-dark-text;
    display: block;
}

/*
** Footer
*/
#footer {
    height: 1em;
    margin: 1em 0;
    padding: 0 1em;
    font-size: 90%;
    color: @very-dark-text;
}

#footer a { color: @link-default; }
#footer a:hover { color: @text-orange; }

#footer p {
    display: inline-block;
    margin: 0;
}

#footer p.left {
    float: left;
    margin: 0;
}

#footer p.right {
    float: right;
}

/*
** Misc
*/
.clear { clear: both; }

.c, table.tbl .c { text-align: center; }

.noborder { border: none !important; }

.nowrap { white-space: nowrap; } /* Used to keep "action links" on one line, e.g. [ Update | Remove ] */

.tooltip { border-bottom: 1px dotted; } /* Useful when adding title attributes to elements */

table.tbl tr.mp td,
span.mp,
div.mp,
tr.diff-changes {
    background: @edit-orange !important;
}

.lastupdate,
.annotation-details,
.small {
    font-size: 90%;
    color: @very-dark-text;
    font-style: italic;
}

.lastupdate {
    padding-top: 1em;
    margin-left: -5px;
}

/* The release information table */
table.tbl {
    margin-top: 1em;
    border-collapse: collapse;
    width: 100%;
    border-top: solid 1px @dark-border;
    border-bottom: solid 1px @dark-border;
}

table.tbl th {
    font-size: 95%;
    background: url('../images/layout/table-header.gif') repeat-x 0 50%;
    padding: 0.2em 0.4em;
    text-align: left;
    border-bottom: solid 1px @dark-border;
    border-left: solid 1px @medium-border;
}

table.tbl thead tr .header {
    cursor: pointer;
}

table.tbl thead tr .header .arrow {
    background: url('../images/layout/bg.gif') no-repeat center right;
    display: inline-block;
    height: 9px;
    width: 21px;
}

table.tbl thead tr .headerSortUp .arrow {
    background-image: url('../images/layout/asc.gif');
}

table.tbl thead tr .headerSortDown .arrow {
    background-image: url('../images/layout/desc.gif');
}

table.details table.tbl {
    margin-top: 0;
}

table.details table.tbl th {
    /* Override the table.details declarations
    /* inside an edit details template */
    padding: 0.2em 0.4em;
    text-align: left;
    width: auto;
}

.deleted { color: @dark-text; }

table.tbl tr.subh td,
table.tbl tr.subh th {
    font-size: 95%;
    background: url('../images/layout/table-header-2.gif') repeat-x 0 50%;
    font-weight: bold;
    border-top: solid 1px @dark-border;
    border-bottom: solid 1px @dark-border;
}

table.tbl tbody th {
    border-right: 1px solid @dark-border;
    background: none;
}

table.tbl tbody th:last-child { border-right: 0; }

table.tbl th a {
    color: @text-black;
}

table.tbl th:first-child {
    border-left: none;
}

table.tbl td {
    padding: 0.2em 0.4em;
}

table.tbl tr.ev td,
table.tbl tr.ev th {
    padding: 0.2em 0.4em;
    background: @even-table-row;
}

table.tbl tr:target td { background-color: @highlight-table-row; }

table.tbl .pos { width: 1em; white-space: nowrap; }
table.tbl th { word-break: keep-all; white-space: nowrap; }

table.tbl .year { width: 4em; }
table.tbl .count { width: 2em; }
table.tbl .rating { width: 50px; }
table.tbl .video {
    width: 15px;

    &.is-video {
        background-repeat: no-repeat;
        background-position: 50% 2px;
        background-image: data-uri('../images/icons/video.png');
    }
}
table.tbl .treleases { width: 3em; }
table.tbl .t { text-align: right; }

table.tbl ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ==========================================================================
   Pagination
   ========================================================================== */

.pagination-wrapper { margin: 10px 0; }

.pagination {
  display: inline;
  margin-right: 10px;

  // Override bootstrap font/color
  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      font-weight: bold;
      color: @gray;
    }
  }

  // Override bootstrap cursor/color
  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      cursor: default;
      background-color: @gray-lighter;
    }
  }
}

.pagination-sm {
  .pagination-size(1px; 8px; @font-size-small; @border-radius-small);
}








/* Entity details & edit details */
table.details th {
    text-align: right;
    padding-left: 10pt;
    width: 160px;
    vertical-align: top;
}

table.details td span.new,
table.details td.new {
    background: @positive-light-bg;
}

div.diff .diff-only-b,
span.diff-only-b,
tr.diff-addition {
    background: @positive-bg;
}

table.details td span.old,
table.details td.old {
    background: @negative-light-bg;
}

div.diff .diff-only-a,
span.diff-only-a,
tr.diff-removal {
    background: @negative-bg;
}

table.details td span.new,
table.details td span.old,
table.details td.new,
table.details td.old {
    border: 1px solid @medium-border;
}

table.details td { vertical-align: top; }

table.details ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

/* Statistics pages */
table.timeline-controls, table.database-statistics {
    border-collapse: collapse;
    border: 1px solid @light-border-blue;
    margin: 1em 1em 1em 0;
}

table.database-statistics {
    white-space: nowrap;
}

table.database-statistics th, table.timeline-controls th {
    text-align: left;
    padding: 3px 5px;
}

table.database-statistics tr.thead th {
    text-align: center;
    border: 1px solid @light-border-blue;
    background: @light-border-background;
}

table.database-statistics td, table.timeline-controls td {
    text-align: right;
    padding: 3px 5px 3px 10px;
}

table.timeline-controls td {
    border: 1px solid @light-border-blue;
}


/* Sidebar properties */
dl.properties {
    margin: 0;
}

dl.properties dt {
    clear: left;
    float: left;
    font-weight: bold;
    padding-right: 2pt;
}

table.properties tr,
dl.properties dd,
dl.properties dt {
    line-height: 175%;
}

table.properties th {
    text-align: right;
}

/* Search Plugins */
dl.search-plugins dt {
    font-weight: bold;
}

dl.search-plugins dt,
dl.search-plugins dd {
    line-height: 200%;
}

/* CSS columns (instead of using tables) */
div.columns-2 div.column {
    float: left;
    width: 50%;
    min-width: 300px;
}
div.columns-3 div.column {
    float: left;
    width: 33.3%;
    min-width: 200px;
}
div.columns-4 div.column {
    float: left;
    width: 25%;
    min-width: 150px;
}
div.columns-5 div.column {
    float: left;
    width: 20%;
    min-width: 120px;
}

.nagpanel {
    background-color: @effectively-white-bg;
    border: 2px dashed @musicbrainz-purple;
    padding: 0 1em;
    margin: 1em 0;
}

.nagpanel .naglinkpanel { text-align: center; }
.nagpanel .naglink { font-size: 200%; }

p.cleanup {
    text-align: center;
    background: @edit-orange !important;
    padding: 1em;
}

.iswc { white-space: nowrap; }

/*
  Cover Art
  ================================================
*/

div.artwork-cont {
    border-radius: 2px;
    background: @very-light-bg;
    border: 1px solid @light-border;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

div.artwork-cont p {
    width: 250px;
}

div.artwork { position: relative; width: 250px; }
/* don't include 'div' since this should apply to 'p' as well */
.artwork img { max-width: 250px; max-height: 250px; }

.homepage div.artwork-cont {
    width: 125px;
    height: 125px;
    position: relative;
    vertical-align: middle;
}
.homepage div.artwork {
    width: 125px;
    height: 125px;
    display: table-cell;
    vertical-align: middle;
}
.homepage div.artwork img {
    max-width: 125px;
    max-height: 125px;
}

.artwork-image, .artwork-pdf {
    position: relative;
    display: block;
}

.artwork-pdf .file-format-tag {
    cursor: help;
    color: darken(@musicbrainz-purple, 20%);
    background-color: @effectively-white;
    border: 1px solid darken(@musicbrainz-purple, 20%);
    border-radius: 3px;
    padding: 2px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 3px;
    right: 3px;
}

div.delete { display: hidden !important; }

.annotation-toggle {
    display: block;
}

.annotation-body {
    position: relative;
    overflow: auto;
}

.annotation-collapsed {
    max-height: 100px;
    overflow: hidden;
}

.annotation-collapsed:after {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    content: "  ";
    height: 20px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.annotation-collapse {
    max-height: none;
}

span.release-group-type {
    background: @rg-type-label;
    color: @text-white;
    border-radius: 3px;
    padding: 0 3px;
}

a.tagger-icon {
    width: 41px;
    height: 16px;
    display: block;
}

.actions-header {
    min-width: 10em;
}

dl.ars, dl.ars dd, dl.ars dt {
    padding: 0;
    margin: 0;
    font-size: 11px;
}

dl.ars { margin-left: 2em; line-height: 2.2ex; }
dl.ars dd { margin: 0.2em 0; }

dl.ars dt {
    margin-right: 0.5em;
    clear: left;
    float: left;
    color: @very-dark-text;
}

#largemap {
    margin: 10px;
    min-height: 600px;
}
