[% WRAPPER 'layout/sidebar/properties.tt' %]
    [% INCLUDE 'layout/sidebar/property.tt' label=l('Rating:')
       content=rating_stars(entity) %]
[% END %]

[%- IF entity.rating_count -%]
    [% link_entity(entity, "ratings", l("Show user ratings")) %]
[%- END -%]