[%~ BLOCK layout_head ~%]
    [%~ meta_desc = [] ~%]
    [%~ meta_desc.push(html_escape(label.comment)) IF label.comment ~%]
    [%~ meta_desc.push(l('Type:') _ ' ' _ html_escape(label.type_name)) IF label.type ~%]
    [%~ meta_desc.push(l('Label Code:') _ ' ' _ html_escape(label.label_code)) IF label.label_code ~%]
    [%~ IF label.begin_date.format ~%]
        [%~ meta_desc.push(l("Founded:") _ ' ' _ label.begin_date.format) ~%]
    [%~ END ~%]
    [%~ IF label.end_date.format ~%]
        [%~ meta_desc.push(l("Defunct:") _ ' ' _ label.end_date.format) ~%]
    [%~ END ~%]
    [%~ meta_desc.push(l('Area:') _ ' ' _ html_escape(label.area.name)) IF label.area ~%]
    <meta name="description" content="[% comma_only_list(meta_desc) %]"/>
[% END %]

[%- WRAPPER "label/layout.tt" page='index' -%]
    [%- INCLUDE 'label/annotation.tt' summary=1 -%]

    [% IF eligible_for_cleanup %]
      <p class="cleanup">
          [% l('This label has no relationships or releases and will be removed
                automatically in the next few days. If this is not intended,
                please add more data to this label.') %]
      </p>
    [% END %]

    [%- show_wikipedia_extract() -%]

    <h2 class="releases">[% l('Releases') %]</h2>
    [%- IF releases.size -%]
      <form action="[% c.uri_for_action('/release/merge_queue') %]" method="post" class="form-horizontal">
        [%- INCLUDE 'release_group/releases-list.tt' show_artists=1 filter_label=label WRAPPER 'components/with-pager.tt' -%]
        [% IF c.user_exists %]
          [% form_submit(l('Add selected releases for merging'), class='flush-left') %]
        [% END %]
      </form>
    [%- ELSE -%]
      <p>[%- l("This label does not have any releases.") -%]</p>
    [%- END -%]
[% END %]
