<table class="details">
  <tr>
    <th>[% l('Release:') %]</th>
    <td>[% link_entity(edit.display_data.release) %]</td>
  </tr>

  [% IF edit.display_data.artist_credit %]
  <tr>
    <th>[% l('Artist:') %]</th>
    <td><span class="old">[% expanded_artist_credit(edit.display_data.artist_credit.old) %]</span></td>
    <td><span class="new">[% expanded_artist_credit(edit.display_data.artist_credit.new) %]</span></td>
  </tr>
  [% END %]

</table>
