[% WRAPPER 'release/layout.tt' title=l('Remove Disc ID') full_width=1 %]
    <h2>[% l('Remove Disc ID') %]</h2>
    <ul>
      <li>
        [% l('Are you sure you want to remove the disc ID <code>{discid}</code> from the release
              {release} by {artist}?',
             { discid => medium_cdtoc.cdtoc.discid, release => link_entity(release),
               artist => artist_credit(release.artist_credit) }) %]
      </li>
      <li>
        [% l('You need to be certain that this disc ID was added to this release erroneously, since a release
              can have multiple valid disc IDs, and each disc ID can belong to more than one release. For more
              in-depth information about this topic, please see our {doc|CD submission guide}.',
              { doc => doc_link('How_to_Add_Disc_IDs') }) %]
      </li>
    </ul>
    <form action="[% c.req.uri %]" method="post" class="form-horizontal">
        [% INCLUDE "forms/edit-note.tt" %]
        [% enter_edit() %]
    </form>
[% END %]
