[% WRAPPER 'artist/layout.tt' full_width=1 title=l('Edit Artist Credit') %]
  [% script_manifest('edit.js.manifest') %]
  [% script_manifest('guess-case.js.manifest') %]

   [%- IF no_javascript -%]
     [%- warning( l("Javascript needs to be enabled."), "nojavascript" ) -%]
   [%- END -%]

   <h2>[% l('Edit Artist Credit') %]</h2>

  <form action="[% c.req.uri %]" method="post" class="form-horizontal">
     [%- USE r = FormRenderer(form) -%]
     <div class="half-width">
       <p>
         [% l('This form allows you to edit the artist credit "{ac}".
               When the edit is accepted, all tracks, recordings, releases and release groups
               using this artist credit will be update to use the new one.',
               { ac => artist_credit(ac) } ) %]
       </p>
       <fieldset>
         <legend>[% l('New Artist Credit') %]</legend>
         [%- form_row_artist_credit(form) -%]
       </fieldset>

       [%- INCLUDE 'forms/edit-note.tt' -%]
       [%- enter_edit() -%]
     </div>

     <div class="documentation">
       [%- artist_credit_table() -%]
       [%- guesscase_bubble() -%]
     </div>
   </form>

  <script type="text/javascript">//<![CDATA[
      MB.Control.initialize_artist_credit();
  //]]></script>
[% END %]
