[% IF entities.size %]
    [%- WRAPPER 'components/with-pager.tt' -%]
    [% IF viewing_own_profile %]
    <form action="[% c.uri_for_action('/account/subscriptions/' _ type _ '/remove') %]" class="form-horizontal">
    [% END %]
    <table class="tbl">
    <thead>
        <tr>
        [% IF viewing_own_profile %]
            <th style="width:1em"></th>
        [% END %]
        <th>[%- l('Name') -%]</th>
        </tr>
    </thead>
    <tbody>
    [%- FOR entity IN entities -%]
        <tr[% ' class="ev"' IF loop.count % 2 == 0 %]>
        [% IF viewing_own_profile %]
        <td><input name="id" type="checkbox" value="[% entity.id %]" /></td>
        [% END %]
        <td>[% link_entity(entity) %]</td>
        </tr>
    [%- END -%]
    </tbody>
    </table>
    [% IF viewing_own_profile %]
    <div class="row">
    [% form_submit(l('Unsubscribe')) %]
    </div>
    </form>
    [% END %]
    [%- END -%]
[% ELSE %]
    <p>[% l('No subscriptions.') %]</p>
[% END %]
