[% USE JavaScript %]
/* Copyright (C) 2009 Oliver Charles
   Copyright (C) 2009 Lukas Lalinsky
   Copyright (C) 2010 MetaBrainz Foundation

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
*/

(function (MB) {
    $.extend(MB.text, {
        TagNone: '[% lp('(none)', 'tag') | js %]',
        Artist: '[% l('Artist') | js %]',
        Name: '[% l('Name') | js %]',
        JoinPhrase: '[% l('Join phrase') | js %]',
        AppearsOn: '[% l('appears on:') | js %]',
        UseAltNames: '[% l('Some artists credited with alternative names') | js %]',
        Preview: '[% l('Preview: ') | js %]',
        UnknownPlaceholder: '[% l('[ Unknown ]') | js %]',
        DisambiguationComment: '[% l('add a disambiguation comment') | js %]',
        Next:                  '[% l('Next') | js %]',
        Previous:              '[% l('Previous') | js %]',
        NoResults:             '[% l('No results') | js %]',
        SearchInfoFormat:            '[% l('Showing results <strong>{start}</strong>&ndash;<strong>{end}</strong> of <strong>{matches}</strong>', { matches => '#matches#', start => '#start#', end => '#end#' }) | js %]',
        Searching:             '[% l('Searching...') | js %]',
        PleaseSelectARSubtype : "[% l("Please select a subtype of the currently selected relationship type. The selected relationship type is only used for grouping subtypes.") | js %]",
        PleaseSelectARType    : "[% l("Please select a relationship type.") | js %]",
        AddAnother            : "[% l("Add another") | js %]",
        Remove                : "[% l('Remove') | js %]",
        ClickLookup           : "[% l('Please click lookup to search') | js %]",
        Lookup                : "[% l('Lookup') | js %]",
        SearchErrorOccured    : "[% l('Sorry, an error occurred during your search') | js %]",
        AddNewTrack:            "[% l('Add another track') | js %]",
        AddAnotherMedium      : "[% l('Add another medium') | js %]",
        DoNotAddTracks: "[% l('<strong>Warning</strong>: #{disc} has a discid, you cannot add tracks') | js %]",
        DoNotRemoveTracks: "[% l('<strong>Warning</strong>: #{disc} has a discid, you cannot remove tracks') | js %]",
        DoNotChangeTracks: "[% l('This medium has one or more discids which prevent this information from being changed.') %]",
        RatingTitles: [
              "[% rating_tooltip(0) | js %]",
              "[% rating_tooltip(1) | js %]",
              "[% rating_tooltip(2) | js %]",
              "[% rating_tooltip(3) | js %]",
              "[% rating_tooltip(4) | js %]",
              "[% rating_tooltip(5) | js %]"
        ],
        Barcode: {
            NoCheckdigitUPC: '[% l('The barcode you entered looks like a UPC code with the check digit missing.') | js %]',
            ValidUPC: '[% l('The barcode you entered is a valid UPC code.') | js %]',
            InvalidUPC: '[% l('The barcode you entered is either an invalid UPC code, or an EAN code with the check digit missing.') | js %]',
            ValidEAN: '[% l('The barcode you entered is a valid EAN code.') | js %]',
            InvalidEAN: '[% l('The barcode you entered is not a valid EAN code.') | js %]',
            Invalid: '[% l('The barcode you entered is not a valid UPC or EAN code.') | js %]',
            DoubleCheck: '[% l('Please double-check the barcode on the release.') | js %]',
            CheckDigit: '[% l('The check digit is {checkdigit}.') | js %]'
        },
        ArtistDate: {
            Unknown: [ '[% l('Began:') | js %]', '[% l('Ended:') | js %]', '[% l('This artist has ended.') | js %]'  ],
            Person: [ '[% l('Born:') | js %]', '[% l('Died:') | js %]', '[% l('This person is deceased.') | js %]' ],
            Founded: [ '[% l('Founded:') | js %]', '[% l('Dissolved:') | js %]', '[% l('This group has dissolved.') | js %]' ]
        },
        ArtistArea: {
            Unknown: [ '[% l('Begin area:') | js %]', '[% l('End area:') | js %]' ],
            Person: [ '[% l('Born in:') | js %]', '[% l('Died in:') | js %]' ],
            Founded: [ '[% l('Founded in:') | js %]', '[% l('Dissolved in:') | js %]' ]
        },
        Pager: '[% l('Page {page} of {total}') | js %]',
        SwitchToDirectSearch: '[% l('Not found? Try again with direct search.') | js %]',
        SwitchToIndexedSearch: '[% l('Slow? Switch back to indexed search.') | js %]',
        RemoveLinkedEntity: {
            'artist':         "[% l('Clear artist') | js %]",
            'label':          "[% l('Clear label') | js %]",
            'recording':      "[% l('Clear recording') | js %]",
            'release':        "[% l('Clear release') | js %]",
            'release-group':  "[% l('Clear release group') | js %]",
            'work':           "[% l('Clear work') | js %]",
        },
        link: '[% l('link') | js %]',
        ShowMore: '[% l('Show more...') | js %]',
        ShowLess: '[% l('Show less...') | js %]',
        Medium: '[% l('Medium') | js %]',
        RequiredField: '[% l('Required field.') | js %]',
        DistinctEntities: '[% l('Entities in a relationship cannot be the same.') | js %]',
        AddRelationship: '[% l('Add relationship') | js %]',
        RelateRecordingWork: '[% l('Relate recording to work') | js %]',
        InvalidDate: '[% l('The date you\'ve entered is not valid.') | js %]',
        InvalidEndDate: '[% l('The end date cannot preceed the begin date.') | js %]',
        InvalidValue: '[% l('The value you\'ve entered is not valid.') | js %]',
        EditRelationship: '[% l('Edit relationship') | js %]',
        Loading: '[% l('Loading...') | js %]',
        ErrorLoadingRelationships: '[% l('Error loading relationships.') | js %]',
        ChangeDirection: '[% l('Change direction') | js %]',
        Entity: {
            area:            "[% l('Area') | js %]",
            artist:          "[% l('Artist') | js %]",
            instrument:      "[% l('Instrument') | js %]",
            label:           "[% l('Label') | js %]",
            place:           "[% l('Place') | js %]",
            recording:       "[% l('Recording') | js %]",
            release:         "[% l('Release') | js %]",
            release_group:   "[% l('Release group') | js %]",
            series:          "[% lp('Series', 'singular') | js %]",
            url:             "[% l('URL') | js %]",
            work:            "[% l('Work') | js %]",
        },
        AttributeRequired: '[% l('This attribute is required.') | js %]',
        FocusInstrument: '[% l('Click here to choose an instrument') | js %]',
        FocusVocal: '[% l('Click here to choose a vocal') | js %]',
        NoChanges: '[% l('You haven’t made any changes!') | js %]',
        AddNote: '[% l('Add Note') | js %]',
        DeleteNote: '[% l('Delete Note') | js %]',
        ConfirmSwap: '[% l('This tracklist has artist credits with information that will be lost if you swap artist credits with track titles. This cannot be undone. Do you wish to continue?') | js %]',
        ConfirmNavigation: '[% l('All of your changes will be lost if you leave this page.') | js %]',
        SubmissionError: '[% l('We\'re very sorry, an error occurred during submission. The server may be under heavy load; please wait a moment and try again.') | js %]',
        VoteOnAllEdits: '[% l('Vote on all edits:') | js %]',
        LastTwoListItems: '[% l('{almost_last_list_item} and {last_list_item}') | js %]',
        ListItemCommaRest: '[% l('{list_item}, {rest}') | js %]',
        RelationshipTypeDeprecated: '[% l('This relationship type is deprecated and should not be used.') %]',
        AddANewEntity: {
            artist:          "[% l('Add a new artist') | js %]",
            label:           "[% l('Add a new label') | js %]",
            place:           "[% l('Add a new place') | js %]",
            recording:       "[% l('Add a new recording') | js %]",
            release_group:   "[% l('Add a new release group') | js %]",
            series:          "[% l('Add a new series') | js %]",
            work:            "[% l('Add a new work') | js %]"
        },
        ImagePager: '[% l('Image {current} of {total}') | js %]',
        GuessCaseDescriptionEnglish: '[% l('This mode capitalises almost all words, with some words (mainly articles and short prepositions) lowercased. Some words may need to be manually capitalised to follow the {url|English capitalisation guidelines}.', { url => doc_link("Style/Language/English") }) | js %]',
        GuessCaseDescriptionSentence: '[% l('This mode capitalises the first word of a sentence, most other words are lowercased. Some words, often proper nouns, may need to be manually fixed according to the {url|relevant language guidelines}.', { url => doc_link("Style/Language") }) | js %]',
        GuessCaseDescriptionFrench: '[% l('This mode capitalises titles as sentence mode, but also inserts spaces before semicolons, colons, exclamation marks and question marks, and inside guillemets. Some words may need to be manually capitalised to follow the {url|French capitalisation guidelines}.', { url => doc_link("Style/Language/French") }) | js %]',
        URLNotAllowed: '[% l('This URL is not allowed for the selected link type, or is incorrectly formatted.') | js %]',
        SelectURLType: '[% l('Please select a link type for the URL you’ve entered.') | js %]',
        SelectedReleaseGroup: '[% l('You selected {releasegroup}.') | js %]',
        SelectedLabel: '[% l('You selected {label}.') | js %]',
        Tracklist: '[% l('Tracklist') | js %]',
        DiscNumber: '[% l('Disc {num}') | js %]',
        DiscNumberTitle: '[% l('Disc {num}: {title}') | js %]',
        TrackParser: '[% l('Track Parser') | js %]',
        AddDisc: '[% l('Add Disc') | js %]',
        ReleaseSubmissionError: '[% l('The information you‘ve provided contains errors, and was not entered; please visit the tabs shaded in red, fix all visible errors, and try again.') | js %]',
        ByArtist: '[% l('by {artist}') | js %]',
        EntityByArtist: '[% l('{entity} by {artist}') | js %]',
        AddReleaseNoTitle: '[% l('Add Release') | js %]',
        AddReleaseTitle: '[% l('{name} - Add Release') | js %]',
        EditReleaseNoTitle: '[% l('Edit Release') | js %]',
        EditReleaseTitle: '[% l('{name} - Edit Release') | js %]',
        Video: '[% l('video') | js %]',
        EnterAValidURL: '[% l('Enter a valid url e.g. "http://google.com/"') | js %]',
        RelationshipAlreadyExists: '[% l('This relationship already exists.') | js %]',
        SelectedArea: '[% l('You selected {area}.') | js %]',
        MoreDocumentation: '[% l('{description} ({url|more documentation})') | js %]',
        AddColon: '[% l('{variable}:') | js %]',
        AddAnotherEntity: {
            area:            "[% l('Add another area') | js %]",
            artist:          "[% l('Add another artist') | js %]",
            instrument:      "[% l('Add another instrument') | js %]",
            label:           "[% l('Add another label') | js %]",
            place:           "[% l('Add another place') | js %]",
            recording:       "[% l('Add another recording') | js %]",
            release:         "[% l('Add another release') | js %]",
            release_group:   "[% l('Add another release group') | js %]",
            series:          "[% l('Add another series') | js %]",
            work:            "[% l('Add another work') | js %]"
        },
        AttributeTextValue: '[% l('{attribute}: {value}') | js %]',
        OrderedRelationship: '[% l('{num}. {relationship}') | js %]',
        IncorrectEntityForSeries: {
            recording: '[% l('The series you’ve selected is for recordings.') | js %]',
            release: '[% l('The series you’ve selected is for releases.') | js %]',
            release_group: '[% l('The series you’ve selected is for release groups.') | js %]',
            work: '[% l('The series you’ve selected is for works.') | js %]'
        },
        InlineSearchFailed: '[% l('An error occurred while searching. Click here to try again.') | js %]',
        ClearRecentItems: '[% l('Clear recent items') | js %]'
    });
})(MB);
